<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.stcreative.usrinfo.mapper.UsrInfoMapper">
	<resultMap id="UserResultMap" type="kr.co.stcreative.usrinfo.service.UsrInfoVO">
    	<result property="usrId" column="USR_ID" />
	    <result property="lgnAcntId" column="LGN_ACNT_ID" />
	    <result property="lgnAcntPswd" column="LGN_ACNT_PSWD" />
	    <result property="snsId" column="SNS_ID" />
	    <result property="snsTypeCd" column="SNS_TYPE_CD" />
	    <result property="snsCnctDt" column="SNS_CNCT_DT" />
	    <result property="nickNm" column="NICK_NM" />
	    <result property="usrEml" column="USR_EML" />
	    <result property="usrBrdt" column="USR_BRDT" />
	    <result property="sxdsCd" column="SXDS_CD" />
	    <result property="mblTelno" column="MBL_TELNO" />
	    <result property="grpId" column="GRP_ID" />
	    <result property="joinDt" column="JOIN_DT" />
	    <result property="mdfcnDt" column="MDFCN_DT" />
	    <result property="whdwlDt" column="WHDWL_DT" />
	    <result property="salt" column="SALT" />
  	</resultMap>
  
	
	<select id="getUserByUsrId" resultMap="UserResultMap" parameterType="String">
	    SELECT * FROM TN_USR_INFO WHERE USR_ID = #{id}
	</select>
	
	<update id="modifyUsrInfo" parameterType="kr.co.stcreative.usrinfo.service.UsrInfoVO">
		UPDATE 
			TN_USR_INFO 
		SET 
			NICK_NM = #{nickNm}
		   ,USR_EML = #{usrEml}
		   ,MBL_TELNO = #{mblTelno}
		WHERE 
			USR_ID= #{usrId}
	</update>
	
</mapper>